{
  "openapi": "3.1.0",
  "info": {"title": "BuildPusher Control Plane API", "version": "1.0.0", "description": "Automate BuildPusher projects, environments and deployments."},
  "servers": [{"url": "https://buildpusher.com/api/v1"}],
  "security": [{"bearerAuth": []}],
  "paths": {
    "/me": {"get": {"summary": "Get the current user and workspace", "x-required-scope": "read", "responses": {"200": {"description": "Current identity"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}}}},
    "/projects": {"get": {"summary": "List projects", "x-required-scope": "read", "responses": {"200": {"description": "Project collection"}}}},
    "/projects/{project}": {"get": {"summary": "Get a project", "x-required-scope": "read", "parameters": [{"$ref": "#/components/parameters/Project"}], "responses": {"200": {"description": "Project"}, "404": {"description": "Not found"}}}},
    "/projects/{project}/workflow": {"put": {"summary": "Validate and apply a workflow", "x-required-scope": "manage", "parameters": [{"$ref": "#/components/parameters/Project"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["workflow"], "properties": {"workflow": {"type": "string", "maxLength": 50000}}}}}}, "responses": {"200": {"description": "Workflow applied"}, "422": {"$ref": "#/components/responses/Validation"}}}},
    "/projects/{project}/configuration/plan": {"post": {"summary": "Validate version 2 configuration and preview changes", "description": "Read-only planning with workspace-scoped bindings and ownership checks. Does not save a review, mutate application configuration, or contact providers. Requires current workspace management access. Secret values and submitted commands are omitted from the plan.", "x-required-scope": "manage", "parameters": [{"$ref": "#/components/parameters/Project"}], "requestBody": {"$ref": "#/components/requestBodies/ConfigurationInput"}, "responses": {"200": {"description": "Read-only plan", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ConfigurationPlanResponse"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/ConfigurationForbidden"}, "404": {"$ref": "#/components/responses/ConfigurationNotFound"}, "422": {"$ref": "#/components/responses/ConfigurationValidation"}}}},
    "/projects/{project}/configuration/reviews": {"post": {"summary": "Save a configuration review", "description": "Saves the exact YAML and bindings encrypted alongside the sanitized plan in a review that expires after 15 minutes. Application configuration is unchanged until apply. Explicit adoption must be present in the reviewed YAML before manual objects can be managed.", "x-required-scope": "manage", "parameters": [{"$ref": "#/components/parameters/Project"}], "requestBody": {"$ref": "#/components/requestBodies/ConfigurationInput"}, "responses": {"201": {"description": "Review saved", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ConfigurationReviewResponse"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/ConfigurationForbidden"}, "404": {"$ref": "#/components/responses/ConfigurationNotFound"}, "422": {"$ref": "#/components/responses/ConfigurationValidation"}}}},
    "/projects/{project}/configuration/reviews/{review}/apply": {"post": {"summary": "Apply the exact saved configuration review", "description": "Only the review requester with current workspace management access may apply. Revalidates permissions, ownership, bindings, and reviewed state under locks. Expired or changed reviews require a new review. Replaying an already applied review returns its original receipt. Local changes and deployment intents are committed together; this response does not establish remote deployment success. No replacement inputs are accepted.", "x-required-scope": "manage", "parameters": [{"$ref": "#/components/parameters/Project"}, {"$ref": "#/components/parameters/ConfigurationReview"}], "requestBody": {"$ref": "#/components/requestBodies/ConfigurationIdentityOnly"}, "responses": {"200": {"$ref": "#/components/responses/ConfigurationApplication"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/ConfigurationForbidden"}, "404": {"$ref": "#/components/responses/ConfigurationNotFound"}, "422": {"$ref": "#/components/responses/ConfigurationValidation"}}}},
    "/projects/{project}/configuration/applications/{application}": {"get": {"summary": "Get a configuration application receipt", "description": "Returns the local apply state and recorded deployment outcomes. Current workspace management access is required. Operation payloads, command contents, and secret values are never returned. Unchanged configuration reviews may share operations; retry history remains visible.", "x-required-scope": "manage", "parameters": [{"$ref": "#/components/parameters/Project"}, {"$ref": "#/components/parameters/ConfigurationApplication"}], "responses": {"200": {"$ref": "#/components/responses/ConfigurationApplication"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/ConfigurationForbidden"}, "404": {"$ref": "#/components/responses/ConfigurationNotFound"}}}},
    "/projects/{project}/configuration/applications/{application}/operations/{operation}/cancel": {"post": {"summary": "Cancel a configuration deployment before remote execution", "description": "Any current manager of the project workspace may cancel, including after the original requester loses access. The operation must belong to this receipt and must not have started remote execution. Repeated cancellation returns the receipt. Local configuration remains applied; this does not stop a running remote workload or delete remote data. Use deployment controls for running builds. Shared receipts observe the same cancellation.", "x-required-scope": "manage", "parameters": [{"$ref": "#/components/parameters/Project"}, {"$ref": "#/components/parameters/ConfigurationApplication"}, {"$ref": "#/components/parameters/ConfigurationOperation"}], "requestBody": {"$ref": "#/components/requestBodies/ConfigurationIdentityOnly"}, "responses": {"200": {"$ref": "#/components/responses/ConfigurationApplication"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/ConfigurationForbidden"}, "404": {"$ref": "#/components/responses/ConfigurationNotFound"}, "422": {"$ref": "#/components/responses/ConfigurationValidation"}}}},
    "/projects/{project}/configuration/applications/{application}/operations/{operation}/retry": {"post": {"summary": "Explicitly retry a failed or canceled configuration deployment", "description": "Only the operation's original review requester with current management access may retry. Creates one replacement for the latest failed or canceled intent after rechecking the unchanged snapshot, repository, target, and deployment gates. Approval is re-evaluated. Replaying the same operation identity returns the same replacement; another retry must address that replacement. No replacement YAML, bindings, or secret values are accepted. Shared receipts include the replacement and retain prior outcomes. Queue delivery recovery uses the existing build and does not require this endpoint.", "x-required-scope": "manage", "parameters": [{"$ref": "#/components/parameters/Project"}, {"$ref": "#/components/parameters/ConfigurationApplication"}, {"$ref": "#/components/parameters/ConfigurationOperation"}], "requestBody": {"$ref": "#/components/requestBodies/ConfigurationIdentityOnly"}, "responses": {"200": {"description": "Receipt and durable replacement operation identity; remote success remains pending", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ConfigurationRetryResponse"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/ConfigurationForbidden"}, "404": {"$ref": "#/components/responses/ConfigurationNotFound"}, "422": {"$ref": "#/components/responses/ConfigurationValidation"}}}},
    "/deployments": {"get": {"summary": "List recent deployments", "x-required-scope": "read", "responses": {"200": {"description": "Deployment collection"}}}},
    "/deployments/{build}": {"get": {"summary": "Get a deployment", "x-required-scope": "read", "parameters": [{"$ref": "#/components/parameters/Build"}], "responses": {"200": {"description": "Deployment"}, "404": {"description": "Not found"}}}},
    "/deployments/{build}/log": {"get": {"summary": "Get a deployment log", "x-required-scope": "read", "parameters": [{"$ref": "#/components/parameters/Build"}], "responses": {"200": {"description": "Deployment log"}, "404": {"description": "Not found"}}}},
    "/deployments/{build}/rollback": {"post": {"summary": "Queue an instant rollback", "x-required-scope": "deploy", "parameters": [{"$ref": "#/components/parameters/Build"}], "responses": {"202": {"description": "Rollback queued"}, "409": {"description": "Release unavailable or another deployment is active"}}}},
    "/deployments/{build}/promote": {"post": {"summary": "Promote an exact successful revision", "description": "Rebuilds a successful revision using the target environment snapshot while preserving approval and maintenance policies.", "x-required-scope": "deploy", "parameters": [{"$ref": "#/components/parameters/Build"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["target_environment_id"], "properties": {"target_environment_id": {"type": "integer", "minimum": 1}, "promotion_note": {"type": "string", "maxLength": 2000}}}}}}, "responses": {"202": {"description": "Promotion requested"}, "409": {"description": "Promotion is ineligible, blocked, incompatible, or already active"}, "422": {"$ref": "#/components/responses/Validation"}}}},
    "/environments/{environment}/deploy": {"post": {"summary": "Queue a deployment", "x-required-scope": "deploy", "parameters": [{"$ref": "#/components/parameters/Environment"}], "responses": {"202": {"description": "Deployment accepted"}, "409": {"description": "Locked, outside its window, unavailable, or already deploying"}}}},
    "/environments/{environment}/scale": {"patch": {"summary": "Change desired replicas", "x-required-scope": "manage", "parameters": [{"$ref": "#/components/parameters/Environment"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["replicas"], "properties": {"replicas": {"type": "integer", "minimum": 1}}}}}}, "responses": {"202": {"description": "Scaling queued"}, "422": {"$ref": "#/components/responses/Validation"}}}},
    "/environments/{environment}/runtime": {"patch": {"summary": "Hibernate or resume an environment", "x-required-scope": "manage", "parameters": [{"$ref": "#/components/parameters/Environment"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["state"], "properties": {"state": {"type": "string", "enum": ["running", "hibernated"]}}}}}}, "responses": {"202": {"description": "Runtime change queued"}, "422": {"$ref": "#/components/responses/Validation"}}}},
    "/environments/{environment}/variables": {"put": {"summary": "Replace environment variables", "x-required-scope": "manage", "parameters": [{"$ref": "#/components/parameters/Environment"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["variables"], "properties": {"variables": {"type": "string"}}}}}}, "responses": {"200": {"description": "Variables replaced"}, "422": {"$ref": "#/components/responses/Validation"}}}}
  },
  "components": {
    "securitySchemes": {"bearerAuth": {"type": "http", "scheme": "bearer"}},
    "parameters": {
      "Project": {"name": "project", "in": "path", "required": true, "schema": {"type": "integer", "minimum": 1}},
      "Build": {"name": "build", "in": "path", "required": true, "schema": {"type": "integer", "minimum": 1}},
      "Environment": {"name": "environment", "in": "path", "required": true, "schema": {"type": "integer", "minimum": 1}},
      "ConfigurationReview": {"name": "review", "in": "path", "required": true, "schema": {"type": "integer", "minimum": 1}},
      "ConfigurationApplication": {"name": "application", "in": "path", "required": true, "schema": {"type": "integer", "minimum": 1}},
      "ConfigurationOperation": {"name": "operation", "in": "path", "required": true, "schema": {"type": "integer", "minimum": 1}}
    },
    "requestBodies": {
      "ConfigurationInput": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ConfigurationInput"}, "examples": {
        "runtime": {"summary": "Configure a runtime with a secret reference", "value": {"document": "version: 2\nenvironments:\n  staging:\n    type: staging\n    placement: site\n    runtime:\n      type: node\n      port: 3000\n      start_command: npm start\n    variables:\n      API_TOKEN:\n        secret_ref: token\n        scope: runtime\n", "bindings": {"placements": {"site": 12}, "secrets": {"token": 34}}}},
        "removalOnly": {"summary": "Remove an owned local environment with empty bindings", "description": "Requires an unprotected non-production environment with owned children and no outstanding dependencies. Removes local configuration and secret-version history. Remote workloads, data, websites, servers, and provider charges remain. An absent environment is safe to review again.", "value": {"document": "version: 2\nremove:\n  environments: [staging]\n", "bindings": {}}}
      }}}},
      "ConfigurationIdentityOnly": {"required": false, "description": "Omit the body or send an empty JSON object. Replacement inputs and other fields are rejected.", "content": {"application/json": {"schema": {"type": "object", "additionalProperties": false, "maxProperties": 0}, "example": {}}}}
    },
    "schemas": {
      "ConfigurationInput": {"type": "object", "additionalProperties": false, "required": ["document", "bindings"], "properties": {"document": {"$ref": "#/components/schemas/ConfigurationDocument"}, "bindings": {"$ref": "#/components/schemas/ConfigurationBindings"}}},
      "ConfigurationDocument": {"type": "string", "minLength": 1, "maxLength": 50000, "writeOnly": true, "description": "Version 2 YAML text, limited to 50,000 UTF-8 bytes, nesting depth 12, and 10,000 parsed nodes. Unknown YAML fields, duplicate keys, aliases, merge aliases, and object tags are rejected. Root fields are version, environments, and remove; declare at least one environment or remove.environments entry. At most 20 declared environments and 20 distinct removed names. Each declared environment requires type, placement, and runtime; optional fields are processes, resources, variables, adopt, remove, and deploy. Runtime types are php, node, python, docker; node/python require a nonblank start_command and port, docker requires a relative dockerfile_path and port. Commands are at most 2,000 characters; ports are YAML integers 1-65535. Process/resource names are lowercase logical names up to 50 characters; other logical names are up to 100. Processes have worker/scheduler type, command, and integer replicas 1-20; schedulers require one replica. Resources have mysql/postgresql/redis/valkey/object_storage type and a boolean managed flag; object storage must be external and only external resources accept variable_refs mapping uppercase variable names to secret binding names. One managed Valkey resource is supported per environment. Variables require secret_ref and runtime/build/all scope. Use secret references instead of plaintext credentials. Omissions preserve objects; explicit removal lists cannot also declare the same object. Whole-environment removal is local only. Full contract: docs/application-configuration.md."},
      "ConfigurationBindings": {"type": "object", "additionalProperties": false, "description": "Explicit bindings in the current workspace. IDs must be positive JSON integers, not strings. Each referenced name must resolve; missing or incompatible bindings are rejected. Empty bindings are valid for removal-only documents. Secret values are never submitted or returned through these maps.", "properties": {"placements": {"$ref": "#/components/schemas/ConfigurationBindingMap", "description": "Logical placement names to workspace website IDs with workspace-owned servers."}, "secrets": {"$ref": "#/components/schemas/ConfigurationBindingMap", "description": "Logical secret names to existing secret-variable IDs with compatible runtime/build/all scope. External-resource secrets must permit runtime use."}, "repositories": {"$ref": "#/components/schemas/ConfigurationBindingMap", "description": "Logical repository names to deployment-ready repository IDs on the bound website, for explicit deploy.repository references."}}},
      "ConfigurationBindingMap": {"type": "object", "maxProperties": 2000, "propertyNames": {"type": "string", "maxLength": 100, "pattern": "^[a-z][a-z0-9_-]*$"}, "additionalProperties": {"type": "integer", "minimum": 1}},
      "ConfigurationPlanResponse": {"type": "object", "additionalProperties": false, "required": ["data"], "properties": {"data": {"$ref": "#/components/schemas/ConfigurationPlan"}}},
      "ConfigurationPlan": {"type": "object", "additionalProperties": false, "required": ["version", "project_id", "changes", "fingerprint", "omitted_objects", "apply_available"], "properties": {"version": {"type": "integer", "const": 2}, "project_id": {"type": "integer", "minimum": 1}, "changes": {"type": "array", "items": {"$ref": "#/components/schemas/ConfigurationChange"}}, "fingerprint": {"type": "string", "pattern": "^[a-f0-9]{64}$", "description": "Keyed digest of the document, resolved bindings, ownership, and reviewed state; this is not an apply authorization token."}, "omitted_objects": {"type": "string", "const": "preserved"}, "apply_available": {"type": "boolean", "description": "False while an existing manual object requires explicit adoption."}}},
      "ConfigurationChange": {"type": "object", "additionalProperties": false, "required": ["environment", "kind", "name", "action", "fields"], "properties": {"environment": {"type": "string"}, "kind": {"type": "string", "enum": ["environment", "processes", "resources", "variables", "deployment"]}, "name": {"type": "string"}, "action": {"type": "string", "enum": ["create", "update", "adopt", "adoption_required", "deploy", "detach", "remove", "absent"]}, "fields": {"type": "array", "items": {"type": "string"}, "description": "Affected field names only; no command contents or secret values."}, "requires_approval": {"type": "boolean"}, "remote_data_deleted": {"type": "boolean", "const": false}, "remote_services_changed": {"type": "boolean", "const": false}}},
      "ConfigurationReviewResponse": {"type": "object", "additionalProperties": false, "required": ["data"], "properties": {"data": {"type": "object", "additionalProperties": false, "required": ["id", "plan", "expires_at"], "properties": {"id": {"type": "integer", "minimum": 1}, "plan": {"$ref": "#/components/schemas/ConfigurationPlan"}, "expires_at": {"type": "string", "format": "date-time"}}}}},
      "ConfigurationApplicationResponse": {"type": "object", "additionalProperties": false, "required": ["data"], "properties": {"data": {"$ref": "#/components/schemas/ConfigurationApplication"}}},
      "ConfigurationRetryResponse": {"type": "object", "additionalProperties": false, "required": ["data", "retry_operation_id"], "properties": {"data": {"$ref": "#/components/schemas/ConfigurationApplication"}, "retry_operation_id": {"type": "integer", "minimum": 1, "description": "The replacement operation; repeating the original retry returns this same ID."}}},
      "ConfigurationApplication": {"type": "object", "additionalProperties": false, "required": ["id", "review_id", "status", "locally_applied_at", "operations"], "properties": {"id": {"type": "integer", "minimum": 1}, "review_id": {"type": "integer", "minimum": 1}, "status": {"type": "string", "enum": ["locally_applied", "awaiting_dispatch", "awaiting_approval", "needs_attention", "deploying", "succeeded", "remote_failed"], "description": "locally_applied confirms only local configuration. awaiting_dispatch and awaiting_approval require processing or approval; needs_attention indicates blocked delivery; deploying is not success. succeeded reflects recorded successful builds; remote_failed preserves failed/canceled outcomes. Status follows the latest retry while retaining prior operations."}, "locally_applied_at": {"type": ["string", "null"], "format": "date-time"}, "operations": {"type": "array", "items": {"$ref": "#/components/schemas/ConfigurationOperation"}}}},
      "ConfigurationOperation": {"type": "object", "additionalProperties": false, "required": ["id", "environment_slug", "kind", "status", "build_id", "attempts", "failure_code", "completed_at", "retry_of_operation_id", "retry_sequence"], "properties": {"id": {"type": "integer", "minimum": 1}, "environment_slug": {"type": "string"}, "kind": {"type": "string", "const": "deploy"}, "status": {"type": "string", "enum": ["pending", "build_created", "blocked", "awaiting_approval", "delivering", "delivery_failed", "delivered", "succeeded", "failed", "canceled"]}, "build_id": {"type": ["integer", "null"], "minimum": 1}, "attempts": {"type": "integer", "minimum": 0}, "failure_code": {"type": ["string", "null"], "description": "Sanitized failure code; exception text and encrypted payloads are omitted."}, "completed_at": {"type": ["string", "null"], "format": "date-time"}, "retry_of_operation_id": {"type": ["integer", "null"], "minimum": 1}, "retry_sequence": {"type": "integer", "minimum": 0}}}
    },
    "responses": {
      "Unauthenticated": {"description": "Missing or invalid token"},
      "Forbidden": {"description": "Token lacks the required scope"},
      "Validation": {"description": "Request validation failed"},
      "ConfigurationForbidden": {"description": "Token lacks manage scope, current workspace access or entitlement is denied, or the caller is not the original requester for apply/retry."},
      "ConfigurationNotFound": {"description": "Project, review, receipt, or operation was not found in the requested project/receipt."},
      "ConfigurationValidation": {"description": "Invalid document/bindings, stale or expired review, unresolved adoption, protected/dependent removal, changed retry inputs, or incompatible operation state. Create a new review when reviewed state has changed. Validation does not return secret values."},
      "ConfigurationApplication": {"description": "Configuration application receipt with sanitized operation history; local apply and queue delivery do not imply remote success.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ConfigurationApplicationResponse"}}}}
    }
  }
}
