buildpusher.com {
	root * /root/Documents/Codex/2026-08-30/clone-my-repo-work-on-it/deployer/public
	encode zstd gzip
	php_fastcgi unix//run/php/php8.3-fpm.sock
	file_server
	header {
		-Server
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
	}
}

www.buildpusher.com {
	redir https://buildpusher.com{uri} permanent
}
