buildpusher.com, auth.buildpusher.com, deployer.buildpusher.com, monitor.buildpusher.com, analytics.buildpusher.com {
	root * /var/www/buildpusher-unified/current/public
	encode zstd gzip
	php_fastcgi unix//run/buildpusher/php8.5-fpm.sock
	file_server
	header {
		-Server
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "SAMEORIGIN"
	}
}

www.buildpusher.com {
	redir https://buildpusher.com{uri} permanent
}
