.input {
    @apply flex-1;
    @apply block;
    @apply w-full;
    @apply text-sm;
    @apply leading-5;
    @apply border;
    @apply px-3;
    @apply py-2.5;

    &.primary {
        background-color: var(--bg-primary);
        color: var(--text-primary);
        border-color: var(--border-primary);

        &::placeholder {
            color: var(--placeholder-primary);
        }
    }

    &.secondary {
        background-color: var(--bg-secondary);
        color: var(--text-secondary);
        border-color: var(--border-secondary);

        &::placeholder {
            color: var(--placeholder-secondary);
        }
    }
}
